body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    /* color: cornsilk; */
    color: #f8f0dc;
}

.dark-mode a {
    color: #00A8E8;
}

.dark-mode button {
    background: #FF6B6B;
    color: white;
    border: 1px solid #333333;
}

.dark-mode h3, h2{
    color: #121212;
}


